html, body {
  margin:0;
  padding:0;
  height: 100vh;
}
.containerElement {
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: fantasy;
}
  .homepage {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading1, .heading2 {
    font-size: 45px;
    background-image: linear-gradient(#93fb9d, #09c7fb);
    background-clip:text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes rotateWorld {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .worldImage {
    width: 40%;
    animation-name: rotateWorld;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .passportText {
    font-size: 20px;
    color: white;
  }
  .passportText:hover {
    background-image: linear-gradient(#93fb9d, #09c7fb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

@media screen and (max-width: 3219px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 120px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 45%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 70px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}

@media screen and (max-width: 1690px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 80px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 60%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 50px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}

@media screen and (max-width: 1176px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 60px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 70%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 35px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}

@media screen and (max-width: 912px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 50px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 60%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 25px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}

@media screen and (max-width: 801px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 43px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 60%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 22px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}

@media screen and (max-width: 701px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 32px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 60%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 20px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}

@media screen and (max-width: 619px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 32px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

    .worldImage {
        width: 90%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .passportText {
        font-size: 20px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media screen and (max-width: 562px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 30px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 90%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 18px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .homepage {
        margin-bottom: 0;
        padding-bottom: 0;
        background-color: black;
        background-color:rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

@media screen and (max-width: 501px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 25px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 90%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 18px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .homepage {
        margin-bottom: 0;
        padding-bottom: 0;
        background-color: black;
        background-color:rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

@media screen and (max-width: 431px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 20px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 90%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 13px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .homepage {
        margin-bottom: 0;
        padding-bottom: 0;
        background-color: black;
        background-color:rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

@media screen and (max-width: 360px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 15px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 90%;
        height: 90%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 10px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .homepage {
        margin-bottom: 0;
        padding-bottom: 0;
        background-color: black;
        background-color:rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}
@media screen and (max-width: 319px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 15px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 90%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 10px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .homepage {
        margin-bottom: 0;
        padding-bottom: 0;
        background-color: black;
        background-color:rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}