html, body {
  margin:0;
  padding:0;
  height: 100vh;
  background-color: black;
}
.containerElement {
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  .homepage {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading1, .heading2 {
    font-size: 45px;
    background-image: linear-gradient(#93fb9d, #09c7fb);
    background-clip:text;
    -webkit-text-fill-color: transparent;
  }
  #welcomeBanner {
    width: 100vw;
  }

  @keyframes rotateWorld {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .worldImage {
    width: 60px;
    animation-name: rotateWorld;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .passportText {
    font-size: 20px;
    color: white;
  }
  .passportText:hover {
    background-image: linear-gradient(#93fb9d, #09c7fb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

@media screen and (max-width: 3219px) {
    .heading1, .heading2 {
        font-size: 53px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 390px;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 30px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .containerElement {
        background-color: black;
        height: 100vh;
        width: 100vw;
        font-family: fantasy;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }
    #welcomeBanner {
      width: 420px;
      padding-top: 20px;
    }
}

@media screen and (max-width: 1690px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 50px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 460px;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 30px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .containerElement {
        background-color: black;
        height: 100vh;
        width: 100vw;
        font-family: fantasy;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }
    #welcomeBanner {
      width: 420px;
      padding-top:200px;
    }
}

@media screen and (max-width: 1379px){
  .heading1, .heading2 {
      font-size: 50px;
      background-image: linear-gradient(#93fb9d, #09c7fb);
      background-clip:text;
      -webkit-text-fill-color: transparent;
  }

    .worldImage {
      width: 460px;
      animation-name: rotateWorld;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }

    .passportText {
      font-size: 30px;
      color: white;
  }
  .passportText:hover {
      background-image: linear-gradient(#93fb9d, #09c7fb);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    #welcomeBanner {
      width: 420px;
      padding-top:200px;
    }
}

@media screen and (max-width: 1176px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 40px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 360px;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 27px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      #welcomeBanner {
        width: 420px;
        padding-top: 50px;
      }
}

@media screen and (max-width: 912px){
    .heading1, .heading2 {
        font-size: 45px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 360px;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 25px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      #welcomeBanner {
        width: 420px;
        padding-top: 50px;
      }
}

@media screen and (max-width: 801px){
    .heading1, .heading2 {
        font-size: 43px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 360px;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 22px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      #welcomeBanner {
        width: 430px;
        padding-top: 50px;
      }
}

@media screen and (max-width: 701px){
    /* .App {
        margin: 0;
        font-family: fantasy;
    } */
    .heading1, .heading2 {
        font-size: 32px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 330px;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 20px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      #welcomeBanner {
        width: 420px;
        padding-top: 0px;
      }
}

@media screen and (max-width: 619px){
    .heading1, .heading2 {
        font-size: 32px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

    .worldImage {
        width: 330px;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .passportText {
        font-size: 20px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #welcomeBanner {
      width: 420px;
      padding-top: 0px;
    }
}
@media screen and (max-width: 562px){
    .heading1, .heading2 {
        font-size: 30px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 320px;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 18px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .homepage {
        margin-bottom: 0;
        padding-bottom: 0;
        background-color: black;
        background-color:rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #welcomeBanner {
        width: 460px;
        padding-top: 0px;
        margin-bottom: 10px;
      }
}

@media screen and (max-width: 501px){
    .heading1, .heading2 {
        font-size: 27px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 300px;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 17px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .homepage {
        margin-bottom: 0;
        padding-bottom: 0;
        background-color: black;
        background-color:rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #welcomeBanner {
        width: 470px;
        padding-top: 0px;
        margin-bottom: 15px;
      }
}

@media screen and (max-width: 431px){
    .heading1, .heading2 {
        font-size: 20px;
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }

      .worldImage {
        width: 30%;
        animation-name: rotateWorld;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

      .passportText {
        font-size: 13px;
        color: white;
    }
    .passportText:hover {
        background-image: linear-gradient(#93fb9d, #09c7fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .homepage {
        margin-bottom: 0;
        padding-bottom: 0;
        background-color: black;
        background-color:rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #welcomeBanner {
        width: 470px;
        padding-top: 0px;
        margin-bottom: 15px;
      }
}
